<div class="service">
    <div class="serviceCap">
 <h2>Our Service</h2>

  <p>
    Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro
    incidunt dolores placeat sunt id nobis omnis tiledo stran delop
  </p>

  <div class="grid">
    <div class="grid1">
      <div class="iconn">
        <fa-icon class="icon" [icon]="faWaveSquare"></fa-icon>
      </div>
      <h3>Nesciunt Mete</h3>
      <p>
        Provident nihil minus qui consequatur non omnis maiores. Eos accusantium
        minus dolores iure perferendis tempore et consequatur.
      </p>

      <a href="/">Read More <fa-icon [icon]="faArrowRight"></fa-icon> </a>
    </div>
    <div class="grid1">
      <div class="iconn">
        <fa-icon class="icon" [icon]="faWaveSquare"></fa-icon>
      </div>
      <h3>Nesciunt Mete</h3>
      <p>
        Provident nihil minus qui consequatur non omnis maiores. Eos accusantium
        minus dolores iure perferendis tempore et consequatur.
      </p>

      <a href="/">Read More <fa-icon [icon]="faArrowRight"></fa-icon> </a>
    </div>
    <div class="grid1">
      <div class="iconn">
        <fa-icon class="icon" [icon]="faWaveSquare"></fa-icon>
      </div>
      <h3>Nesciunt Mete</h3>
      <p>
        Provident nihil minus qui consequatur non omnis maiores. Eos accusantium
        minus dolores iure perferendis tempore et consequatur.
      </p>

      <a href="/">Read More <fa-icon [icon]="faArrowRight"></fa-icon> </a>
    </div>
    <div class="grid1">
      <div class="iconn">
        <fa-icon class="icon" [icon]="faWaveSquare"></fa-icon>
      </div>
      <h3>Nesciunt Mete</h3>
      <p>
        Provident nihil minus qui consequatur non omnis maiores. Eos accusantium
        minus dolores iure perferendis tempore et consequatur.
      </p>

      <a href="/">Read More <fa-icon [icon]="faArrowRight"></fa-icon> </a>
    </div>
    <div class="grid1">
      <div class="iconn">
        <fa-icon class="icon" [icon]="faWaveSquare"></fa-icon>
      </div>
      <h3>Nesciunt Mete</h3>
      <p>
        Provident nihil minus qui consequatur non omnis maiores. Eos accusantium
        minus dolores iure perferendis tempore et consequatur.
      </p>

      <a href="/">Read More <fa-icon [icon]="faArrowRight"></fa-icon> </a>
    </div>
    <div class="grid1">
      <div class="iconn">
        <fa-icon class="icon" [icon]="faWaveSquare"></fa-icon>
      </div>
      <h3>Nesciunt Mete</h3>
      <p>
        Provident nihil minus qui consequatur non omnis maiores. Eos accusantium
        minus dolores iure perferendis tempore et consequatur.
      </p>

      <a href="/">Read More <fa-icon [icon]="faArrowRight"></fa-icon> </a>
    </div>
    </div>
 
  </div>
</div>
