<div class="footer">
  <div class="foot">
    <div class="text">
      <h1>Impact</h1>
      <p>
        Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada
        terra videa magna derita valies darta donna mare fermentum iaculis eu
        non diam phasellus.
      </p>

      <div class="iconCap">
        <div class="iconn">
          <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
        </div>
        <div class="iconn">
          <fa-icon class="icon" [icon]="faFacebook"></fa-icon>
        </div>
        <div class="iconn">
          <fa-icon class="icon" [icon]="faInstagram"></fa-icon>
        </div>
        <div class="iconn">
          <fa-icon class="icon" [icon]="faLinkedin"></fa-icon>
        </div>
      </div>
    </div>
    <div class="opt">
      <div class="link">
        <p>Useful Link</p>
        <ul>
          <li>Home</li>
          <li>About Us</li>
          <li>Service</li>
          <li>Terms of Service</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
      <div class="link">
        <p>Our Service</p>
        <ul>
          <li>Web Design</li>
          <li>Web Developement</li>
          <li>Product Management</li>
          <li>marketing</li>
          <li>Graphic design</li>
        </ul>
      </div>
      <div class="link">
        <p>Contact US</p>
        <ul>
          <li>108 Adam Street New York, NY 535022 United States</li>
          <li>Phone: +1 5589 55488 55</li>
          <li>Email: info@example.com</li>
        </ul>
      </div>
    </div>
  </div>
  <p class="p">© Copyright Impact. All Rights Reserved</p>
  <p class="p">Designed by BootstrapMade</p>
</div>
