<div class="herob4">
  <div class="hero">
    <div class="heroCap">
      <div class="text">
        <h2>Welcome to Impact</h2>
        <p>
          Sed autem laudantium dolores. Voluptatem itaque ea consequatur
          eveniet. Eum quas beatae cumque eum quaerat.
        </p>

        <div class="bbtn">
          <button class="btn1">Get Started</button>
          <button class="btn2">
            <fa-icon class="btnIcon" [icon]="faPlayCircle"></fa-icon> Watch
            Video
          </button>
        </div>
      </div>
      <div class="imgg">
        <img src="../../../assets/hero-img.svg" alt="header-img" />
      </div>
    </div>
  </div>
  <div class="heroSec">
    <div class="heroSecc">
      <div class="circle">
        <fa-icon class="icon" [icon]="faGem"></fa-icon>
        <h1>Lorem Ipsum</h1>
      </div>
      <div class="circle">
        <fa-icon class="icon" [icon]="faGem"></fa-icon>
        <h1>Lorem Ipsum</h1>
      </div>
      <div class="circle">
        <fa-icon class="icon" [icon]="faGem"></fa-icon>
        <h1>Lorem Ipsum</h1>
      </div>
      <div class="circle">
        <fa-icon class="icon" [icon]="faGem"></fa-icon>
        <h1>Lorem Ipsum</h1>
      </div>
    </div>
  </div>

  <hr />
</div>
