<div class="navtop">
  <div class="navtopCon">
    <div class="left">
      <div class="leftCon">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <a href="/">contact@example.com</a>
      </div>
      <div class="leftCon2">
        <fa-icon [icon]="faMobile"></fa-icon> <span>+1 5589 55488 55</span>
      </div>
    </div>

    <div class="right">
      <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
      <fa-icon class="icon" [icon]="faFacebook"></fa-icon>
      <fa-icon class="icon" [icon]="faInstagram"></fa-icon>
      <fa-icon class="icon" [icon]="faLinkedin"></fa-icon>
    </div>
  </div>
</div>
