<nav class="navBar">
  <div class="navBarCon">
    <label for="logo">Impact <span>.</span></label>

    <ul class="navLinks">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">About</a>
      </li>
      <li>
        <a href="/">Service</a>
      </li>

      <li>
        <a href="/">Portfolio</a>
      </li>
      <li>
        <a href="/">Teams</a>
      </li>
      <li>
        <a href="/">Blog</a>
      </li>
      <li>
        <a href="/">Drop Down <fa-icon [icon]="faArrowDown"></fa-icon></a>
      </li>
      <li>
        <a href="/">Contact</a>
      </li>
    </ul>
    <fa-icon [icon]="faBars" class = 'nacIcon'> </fa-icon>
  </div>
</nav>
