<div class="testimonials">
  <div class="testimonialsCap">
    <h2>Testimonials</h2>
    <p>
      Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est
      eveniet deleniti fignissimos eos quam
    </p>

    <div class="grid">
      <div class="tes">
        <div class="top">
          <img src="../../../assets/testimonials-5.jpg" alt="" />
          <div class="name">
            <p>Matt Kowope</p>
            <span>ceo & Fiunder</span> <br />

            <fa-icon class="icon" [icon]="faStar"></fa-icon>
            <fa-icon class="icon" [icon]="faStar"></fa-icon>
            <fa-icon class="icon" [icon]="faStar"></fa-icon>
            <fa-icon class="icon" [icon]="faStar"></fa-icon>
            <fa-icon class="icon" [icon]="faStar"></fa-icon>
          </div>
        </div>
        <div class="down">
          <p>
            <fa-icon class="downIcon" [icon]="faQuoteLeft"></fa-icon>
            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos
            export minim fugiat minim velit minim dolor enim duis veniam ipsum
            anim magna sunt elit fore quem dolore.
            <fa-icon class="downIcon" [icon]="faQuoteRight"></fa-icon>
          </p>
        </div>
      </div>
      <div class="tes">
        <div class="top">
          <img src="../../../assets/testimonials-5.jpg" alt="" />
          <div class="name">
            <p>Matt Kowope</p>
            <span>ceo & Fiunder</span> <br />

            <fa-icon class="icon" [icon]="faStar"></fa-icon>
            <fa-icon class="icon" [icon]="faStar"></fa-icon>
            <fa-icon class="icon" [icon]="faStar"></fa-icon>
            <fa-icon class="icon" [icon]="faStar"></fa-icon>
            <fa-icon class="icon" [icon]="faStar"></fa-icon>
          </div>
        </div>
        <div class="down">
          <p>
            <fa-icon class="downIcon" [icon]="faQuoteLeft"></fa-icon>
            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos
            export minim fugiat minim velit minim dolor enim duis veniam ipsum
            anim magna sunt elit fore quem dolore.
            <fa-icon class="downIcon" [icon]="faQuoteRight"></fa-icon>
          </p>
        </div>
      </div>
      <div class="tes">
        <div class="top">
          <img src="../../../assets/testimonials-5.jpg" alt="" />
          <div class="name">
            <p>Matt Kowope</p>
            <span>ceo & Fiunder</span> <br />

            <div class="iconB">
              <fa-icon class="icon" [icon]="faStar"></fa-icon>
              <fa-icon class="icon" [icon]="faStar"></fa-icon>
              <fa-icon class="icon" [icon]="faStar"></fa-icon>
              <fa-icon class="icon" [icon]="faStar"></fa-icon>
              <fa-icon class="icon" [icon]="faStar"></fa-icon>
            </div>
          </div>
        </div>
        <div class="down">
          <p>
            <fa-icon class="downIcon" [icon]="faQuoteLeft"></fa-icon>
            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos
            export minim fugiat minim velit minim dolor enim duis veniam ipsum
            anim magna sunt elit fore quem dolore.
            <fa-icon class="downIcon" [icon]="faQuoteRight"></fa-icon>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
